node_modules/
.next/
.env
.env.local
apps/cms/.tmp/
apps/cms/dist/
apps/cms/build/
apps/cms/.cache/
apps/cms/.strapi/
apps/cms/.strapi-updater.json
apps/cms/types/generated/
*.tsbuildinfo
apps/cms/public/uploads/*
!apps/cms/public/uploads/.gitkeep
